.App {
    margin: 0px;
    padding: 0px;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    position: absolute;
    left: 0;

}

.themeSelector{
    position: absolute;
    right: 50px;
}

